@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
	height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}

.mobile-nav-btn {
	@apply block border-b-2 border-[#b2d17f]
}

.col1 {
	@apply bg-[#91a8a3];
}

.txt1 {
	@apply text-[#91a8a3];
}

.col2 {
	@apply bg-[#0c120c];
}

.txt2 {
	@apply text-[#0c120c];
}

.col3 {
	@apply bg-[#566922];
}

.txt3 {
	@apply text-[#566922];
}

.col4 {
	@apply bg-[#a6bc36];
}

.txt4 {
	@apply text-[#a6bc36];
}

.col5 {
	@apply bg-[#c5d046];
}

.txt5 {
	@apply text-[#c5d046];
}

.col6 {
	@apply bg-[#b2d17f];
}

.txt6 {
	@apply text-[#b2d17f];
}