@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
	font-family: Roboto;
	src: url('../fonts/static/Roboto-Black.ttf') format('.ttf');
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

html {
	height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	height: 100%;
}

.mobile-nav-btn {
	@apply block border-b-2 border-[#42007b] text-xl font-semibold
}

.col1 {
	@apply 
	/* bg-[#91a8a3]; */
	bg-[#fafafa];
}

.txt1 {
	@apply text-[#91a8a3];
}

.col2 {
	@apply bg-[#56d722];}

.txt2 {
	@apply text-[#83e917];
}

.col3 {
	@apply bg-[#42007b];
}

.txt3 {
	@apply text-[#];
}

.col4 {
	@apply bg-[#a6bc36];
}

.txt4 {
	@apply text-[#42007b];
}

.col5 {
	@apply bg-[#];
}

.txt5 {
	@apply text-[#];
}

.col6 {
	@apply 
	bg-[#f1f1f1];
	/* bg-[#b2d17f]; */
}

.txt6 {
	@apply text-[#b2d17f];
}